body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(203,235,255);
  overflow: hidden;
}

#weather {
  color: #a1dbff;
  position: fixed;
  top: 3%;
  right: 3%;
  font-size: 10em;
  z-index: 149;
}

.clouds {
  width: 200x;
  height: 300px;
  position: absolute;
}

#YEAH-img {
  z-index: 200;
  position: fixed;
  bottom: -1%;
  right: -1%;
  height: 75%;
}

#space-needle {
  z-index: 150;
  position: fixed;
  bottom: -20%;
  top: 15%;
  height: inherit;
  left: -10%;
  right: auto;
}


.cloud1 {
  top: 0px;
  z-index: 100;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 20s linear infinite;
  -moz-animation: move 20s linear infinite;
  -o-animation: move 20s linear infinite;
  animation: move 20s linear infinite;
}

.cloud2 {
  top: 130px;
  z-index: 110;
  fill: #eee;
  -webkit-animation: move 35s linear 10s infinite backwards;
  -moz-animation: move 35s linear 10s infinite backwards;
  -o-animation: move 35s linear 10s infinite backwards;
  animation: move 35s linear 10s infinite backwards;
}

.cloud3 {
  top: 100px;
  z-index: 200;
  fill: #eee;
  -webkit-animation: move 35s linear infinite;
  -moz-animation: move 35s linear infinite;
  -o-animation: move 35s linear infinite;
  animation: move 35s linear infinite;
}

.cloud4 {
  top: 80px;
  z-index: 210;
  fill: #eee;
  -webkit-animation: move 20s linear 10s infinite backwards;
  -moz-animation: move 20s linear 10s infinite backwards;
  -o-animation: move 20s linear 10s infinite backwards;
  animation: move 20s linear 10s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(1350px);}
}

.drop {
  z-index: 500;
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
  width:1px;
  height:89px;
  position: absolute;
  bottom:200px;
  -webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
  to {margin-top:900px;}
}
@-moz-keyframes fall {
  to {margin-top:900px;}
}

